body {
    background-image: url("https://78.media.tumblr.com/352cc0618d4c3c9905fc8710405fb5be/tumblr_p4r7gxrAM61uzwgsuo1_400.gif");
    background-size:cover;
    font-family: "Times New Roman", Times, serif;
        color: white;
}