<!DOCTYPE html>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js" ></script>
        <link rel="stylesheet/less" type="text/css" href="css/home.less" />
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js" ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js?"></script>
        <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.8/typicons.min.css">
        <script src="home.js"></script>
    </head>
<!-- Header Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header id="header">
  <div class="main_nav">
    <div class="container">
      <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
      <nav>
        <ul>
          <li><a class="smoothscroll" href="#header">Home</a></li>
          <li><a class="smoothscroll" href="#about">About</a></li>
          <li><a class="smoothscroll" href="#skills">Issues</a></li>
           <li><a class="smoothscroll" href="#survey">Survey</a></li>
          
     
        </ul>
      </nav>
    </div>
  </div>
  <div class="title">
    <div><span class="typcn typcn-heart-outline icon heading"></span></div>
    <div class="smallsep heading"></div>
    <h1 class="heading"> Aide Le Monde</h1>
    <h2 class="heading">Helping the World</h2>
    <a class="smoothscroll" href="#about">
    <div class="mouse">
      <div class="wheel"></div>
    </div>
    </a> </div>
  <a class="smoothscroll" href="#about">
  <div class="scroll-down"></div>
  </a> </header>
  
<!-- About Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  
<section id="about">
  <div class="container">
    <div class="row">
      <h1>About</h1>
      <div class="block"></div>
      <p>Hello and welcome to our website! <br> We want to create a user-friendly experience for you that gives the user an understanding of certain topics and where the said topic is most affected around the world. For example, as you scroll through our webpage and see all the topics that need OUR assistance (as human beings who live on this earth together) to make our world better for everyone and to help those in need.
   We truly hope you enjoy and maybe even if you have some extra money to spare you'd rather spend it on a charity of your choosing.
</p>
    </div>
    <div class="row">
      <div class="six columns">
        <h3><span class="typcn typcn-device-desktop icon"></span>Our Process</h3>
        <p>While going through all the social injustices people face every day, we came across the overall topic of how privileged we are to live in a community and country that's free and we're given most things to keep us alive. Hense, creating this website!</p>
      </div>
      <div class="six columns">
        <h3><span class="typcn typcn-pen icon"></span>Our Approach</h3>
        <p>Our approach was since we can't help everyone in the world who needs it, we'll use our overall communities ideas! This website is used to inform you about everyday problems for those less fortunate and to give you ideas on how you can help.</p>
      </div>
      <div class="row">
        <div class="six columns">
          <h3><span class="typcn typcn-cog-outline icon"></span>Our Goal</h3>
          <p>We started the website with an abundance of goals, in the end, we condensed all of those into one. Our main goal is to help the world by informing people. Informing people is the easiest and most effective way of having people want to help each other and become aware of such problems.</p>
        </div>
        <div class="six columns">
          <h3><span class="typcn typcn-lightbulb icon"></span>Our Mission</h3>
          <p>As discussed before, we hope that our websites empower people to want to go out and help others. Acts of kindness pass on through people and such making our world that much better, including our communities.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="team">
  <div class="container">
    <div class="row">
      <h1>Meet the Creators!</h1>
      <div class="block"></div>
      <p>Although never meeting before the Koding with Klossy Camp, Melody and Jasmine connected immediately and throughout the 2 weeks have worked together and created a strong bond allowing them to know each other's weaknesses and strengths. Through that, they created this website, so get to know them!</p>
    </div>
    
    <!-- Melody's Introduction -->
    <div class="row">
      <div class="three columns"> <a href='https://photos.google.com/share/AF1QipNecUCpSR-IyB9IqIqxQ-0ckHMsBRWqB49xX9fT25iADzlt-BkWzsSrsIWqzQBTqg?key=X0ZBdmNqem11UXJqR2tDYzhsaHNLNEw1ZHpKWDd3&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/bW-jKzNmuoD1rFSPXo_LzA83rzaHFIWfKw0FkgIZec-ZZwTrgJUVQ7Mi1avbQF528k-nPZBWTI3wICB6icxPUKAGh2N9ftshDhE0zGwe2Bx2teqHdHS7pUuX6MwHkbZ9h7dorsdVDj4=w2400' width="220" height="340" alt=""</a>
        <a href="https://www.instagram.com/melodymasroor/?hl=en"><span class="typcn typcn-social-instagram-circular socialIcons" style="color:pink"></span></a>
        <a href="https://plus.google.com/105593820736401038712"><span class="typcn typcn-social-google-plus-circular socialIcons" style="color:pink"></span> </a>
        <a href="https://twitter.com/Mel0dy6"><span class="typcn typcn-social-twitter-circular socialIcons" style="color:pink"></span> </a>
        </div>
      <div class="three columns"> 
        <h4>Melody Masroor</h4>
        <p>Everything</p>
        Hi! I'm Melody Masroor. I'm 14 and live in Portland, Oregon. I knew a little bit about coding before I joined a camp called KodingWithKlossy! After a two week camp, it feels I'm a pro! Like Jasmine, I am also a phone addict and also play volleyball! Hope you enjoy reading our website! </div>
       
      
      
 <!-- Jasmine's Introduction -->
      
      <div class="three columns">
        <img src='https://pbs.twimg.com/media/Djp87m7VAAAXIjp.jpg:large' width="230" height="300" alt=""/></a>
          <a href="https://community.beyondtype1.org/share/ZbBTPnIDf0F87hWt"><span class="typcn typcn-social-facebook-circular socialIcons" style="color:pink"></span> </a>
          <a href="https://www.instagram.com/novejasmine/?hl=en"><span class="typcn typcn-social-instagram-circular socialIcons" style="color:pink"></span> </a>
          <a href="https://plus.google.com/108802200412881989438"><span class="typcn typcn-social-google-plus-circular socialIcons" style="color:pink"></span> </a>
          <a href="https://twitter.com/jasminenove?lang=en"><span class="typcn typcn-social-twitter-circular socialIcons" style="color:pink"></span> </a>
       </div>
        <div class="three columns"> 
        <h4>Jasmine Nove</h4>
        <p>Everything</p>
        Helloo! I'm Jasmine Nove, I'm 15 and I live in Anchorage, Alaska. When I was little, my dad got me into coding since I was so into Video Games as a kid (still am). Other than being on my phone all the time, I travel the world with my grandparents/parents and try my best to be an ambassador for Type 1 Diabetes in my community.</div> 
        
   
  </div>
</section>

<!-- Skills Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="skills">
  <div class="container">
   
    <div class="row">
      
<div class = "bod">
  <div class='hover_1 hoverbox'></div>
  <div class='hover_2 hoverbox'></div>
  <div class='hover_3 hoverbox'></div>
  <div class='hover_4 hoverbox'></div>
  <div class='hover_5 hoverbox'></div>
  <div class='hover_6 hoverbox'></div>
  <div class='hover_7 hoverbox'></div>
  <div class='hover_8 hoverbox'></div>
  <div class='hover_9 hoverbox'></div>
  <div class='hover_10 hoverbox'></div>
  <div class='hover_11 hoverbox'></div>
  <div class='hover_12 hoverbox'></div>
  <div class='hover_13 hoverbox'></div>
  <div class='hover_14 hoverbox'></div>
  <div class='hover_15 hoverbox'></div>
  <div class='hover_16 hoverbox'></div>
  <h1 class = "global">Our Global Issues Are</h1>
</div>
      
  </div>
</section>

<!-- Portfolio Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  


<!-- Testimonials Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="testimonial">
      <div class="container">
    <center><h1>Learn more about global issues!</h1></center>
    <!-- GLOBAL HEALTH -->
    <h2>Global Health</h2><div id = "sidepic" style = "float:left; margin-right:5%"><a href="https://www.sgu.edu/blog/medical/what-is-global-health/"><img src="https://ncdalliance.org/sites/default/files/styles/medium/public/GBD-Bloodpressure-tested-in-a-health-camp-C2014-Md.-Quamrul-Ahsan-Courtesy-of-Photoshare.png?itok=ugZdsMyX" class="image" alt="Work One"/></a>
    </div>
    <div id = "list" style ="margin-top:5%">
        <ul>
          <li id="health">Over one billion people lack access to health care systems globally.</li>
          <li id="health">36 million deaths each year are caused by noncommunicable diseases.</li>
          <li id="health">Over 7.5 million children under the age of 5 die from malnutrition and mostly preventable diseases, each year.</li>  <!-- FOOD SECURITY -->

      </ul>
     </div>
     
     <br>
     <br><br><br>
     <!-- FOOD SECURITY -->
     <h2>Food Security</h2><div id = "sidepic" style = "float:left; margin-right:5%"><a href="https://www.weforum.org/agenda/2016/01/food-security-and-why-it-matters/"><img src="https://uploads.concordia.net/2017/02/24172453/vegetables-220x220.png" class="image" alt="Work Two"/></a></div>
    
    <div id = "list" style ="margin-top:5%">
        <ul>
          <li id="health">The biggest problem is over population, that is the leading cause of food security.</li>
          <li id="health">By 2050, the world must feed 9 billion people.</li>
          <li id="health">Changing taste will make it harder for us to feed everyone. Diets change!</li>  
      </ul>
     </div>
     <!-- AGRICULTURAL DEVELOPMENT-->
     <br>
     <br><br><br>
     <h2>Agricultural Development</h2>
     <div id = "sidepic" style = "float:left; margin-right:5%"><a href="https://www.gatesfoundation.org/What-We-Do/Global-Growth-and-Opportunity/Agricultural-Development"><img src="https://www2.uea.ac.uk/documents/20195/30104/msc+climate+thumbnail.jpg" class="image" alt="Work Four"/></a></div>
      
    
    <div id = "list" style ="margin-top:5%">
        <ul>
          <li id="health"> A lot of the population get food and income from farming small plots of land.</li>
          <li id="health">Small farmers need have access to the results of our grantmaking efforts.</li>
          <li id="health">A vital part of these farms, are women! Where, beyond caring for and feeding their families help mostly with the farm.</li> 
      </ul>
     </div>
     
     <!-- EDUCATION -->
     
     <br>
     <br><br><br>
     <h2>Education</h2>
     <div id = "sidepic" style = "float:left; margin-right:5%"><a href="https://www.prospects.ac.uk/jobs-and-work-experience/job-sectors/teacher-training-and-education/current-educational-issues"><img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_220,w_220/v1515505752/sirsrojjf22f2qkdm6rg.jpg" class="image" alt="Work Four"/></a></div>
    <div id = "list" style ="margin-top:5%">
        <ul>
          <li id="health">What does budget cuts do to students and teachers?</li>
          <li id="health">Does class sizes affect student education?</li>
          <li id="health">Can certain cirriculam cause stress to a student?</li>  

      </ul>
     </div>
     
     <!-- HUMAN RIGHTS -->
     <br>
     <br><br><br>
     <h2>Human Rights</h2>
     <div id = "sidepic" style = "float:left; margin-right:5%"><a href="https://www.youtube.com/watch?v=BkDX8D2YUeE"><img src="https://munkschool.utoronto.ca/wp-content/uploads/2012/06/20-Picture-220x220.jpg" class="image" alt="Work Five"/></a></div>
      
    
    <div id = "list" style ="margin-top:5%">
        <ul>
          <li id="health">Sources show that many individuals are tortured or abused in at least 81 countries. </li>
          <li id="health">Discrimination of people between color.</li>
          <li id="health">People of color are more likely to face unfair trials in at least 54 countries.</li>  

      </ul>
     </div>
     
     
     <!-- GENDER EQUALITY -->
     <br>
     <br><br><br>
     <h2>Gender Equality</h2>
     <div id = "sidepic" style = "float:left; margin-right:5%"><a href="https://www.peacecorps.gov/educators/resources/global-issues-gender-equality-and-womens-empowerment/"><img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iet7Bc6JENmg/v1/220x220.jpg" class="image" alt="Work Six"/></a></div>
      
    <div id = "list" style ="margin-top:5%">
        <ul>
          <li id="health">Women with full-time jobs still earn only about 77 percent of their male counterparts' earnings.</li>
          <li id="health"> 62 million girls are denied an education all over the world.</li>
          <li id="health">Until recently, women in Saudi Arabia weren't allowed to drive and are still discouraged from working jobs that would put them in contact with men. The unemployment rate for women is 33 percent for women, 7 percent for men.</li> 

      </ul>
     </div>
     
     <!-- WATER -->
     <br>
     <br><br><br>
     <h2>Water</h2>
     <div id = "sidepic" style = "float:left; margin-right:5%"><a href="https://water.org/our-impact/water-crisis/"><img src="http://www.worldbank.org/content/dam/photos/220x220/2017/jun-1/Water-Circle-5456600627_984613028b_o.jpg" class="image" alt="Work Seven"/></a></div>
      
    <div id = "list" style ="margin-top:5%">
        <ul>
          <li id="health">By 2025, an estimated 1.8 billion people will live in areas plagued by water scarcity, with two-thirds of the world’s population living in water-stressed regions.</li>
          <li id="health">Water demand is projected to grow by 55 percent by 2050 (including a 400-percent rise in manufacturing water demand).</li>
          <li id="health">According to the U.S. Intelligence Community Assessment of Global Water Security, by 2030 humanity’s “annual global water requirements” will exceed “current sustainable water supplies” by 40%.</li>  

      </ul>
     </div>
     <!-- climate change and environmental damage -->
     <br>
     <br><br><br>
     <h2>Cimate Change and Environmental Damage</h2>
     <div id = "sidepic" style = "float:left; margin-right:5%"><a href="https://ocean.si.edu/conservation/climate-change/climate-change"><img src="https://cdn.the-scientist.com/assets/articleNo/36214/aImg/14180/an-ocean-of-plastic-t.jpg" class="image" alt="Work Eight"/></a></div>
    
    <div id = "list" style ="margin-top:5%">
        <ul>
          <li id="health"> Increases in crop yields – which are needed to sustain a growing population – have slowed over the last 40 years. </li>
          <li id="health">Potential shortages of food and water, because of climate change, could be drivers of future conflicts.</li>
          <li id="health"> Poor people in poor countries – and even the poor in rich countries – are going to bear an unfair burden of climate change, the report said.</li>  

      </ul>
     </div>
    </div>
</section>



<!-- Testimonials Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  
<br><br><br><br>
<section id="survey">
  <div class="container">
    <center><h1><a href="/survey">Take Our Survey!</a></h1>
      <br><br><br><br>
    </center>
  </div>
</section>






<!-- Footer Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<footer>
  <div class="container">
    <div class="nine columns">
    </div>
    
  </div>
</footer>
</html>