<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "css/index.css">
  </head>
  <body>
  <center>  
  <form method=POST>
 <h1 id="border">What irritates you the most?</h1>
   
    <input type="radio" name="irritation" value="Kids around the world starving due to not enough profit, etc."> Kids around the world starving due to not enough profit, etc. <br><br><br><br>
    <input type="radio" name="irritation" value="Students that arent given the same respect and treatment as peers because of their gender or race?"> Students that arent given the same respect and treatment as peers because of their gender or race?<br><br><br><br>
    <input type="radio" name="irritation" value="The damage that humans have caused on Earth (example Pollution)?"> The damage that humans have caused on Earth (example Pollution)? <br><br><br><br>
    
     <h1 id="border">If you could travel anywhere in the world where would you go?</h1>

    <input type="radio" name="travel" value="South America"> South America <br><br>
    <input type="radio" name="travel" value="Africa"> Africa <br><br>
    <input type="radio" name="travel" value="Europe"> Europe <br><br>
    <input type="radio" name="travel" value="Asia"> Asia <br><br>
    
<h1 id="border"> How often do you do service? </h1>
    <input type="radio" name="service" value="Almost never but sometimes"> Almost never but sometimes. <br><br>
    <input type="radio" name="service" value="Whenever the time comes up."> Whenever the time comes up. <br><br>
    <input type="radio" name="service" value="24/7 man, all the time."> 24/7 man, all the time. <br><br>
    <input type="radio" name="service" value="Never ever."> Never ever. <br><br>
    
  <h1 id="border"> How often do you donate money to any charity?</h1>
    <input type="radio" name="donation" value="Automatic, money goes out of my bank every month/week/day."> Automatic, money goes out of my bank every month/week/day. <br><br>
    <input type="radio" name="donation" value="Whenever I got a couple extra bucks."> Whenever I got a couple extra bucks. <br><br>
    <input type="radio" name="donation" value="I want to, but never get a chance."> I want to, but never get a chance.<br><br>
    <input type="radio" name="donation" value="Never :("> Never :( <br><br>
    
                        <h1 id="border">Any extra information for us to know and possibly add into our website?</h1>
                       <textarea cols="50" rows="5" placeholder="Write to Us!" class="form-control"></textarea>
                   </div>
    <br> <br>


    <input type="submit" value="Click to submit your answers here!">
    <br><br>
    </form>
    </body>
</html>