<!DOCTYPE html>
<html>
    
    <head>
        <link rel = "stylesheet" href = "css/results.css">
    </head>
    <body>
        <center>
        <br> <br>
        <h1>These are your answers to our survey! Thank you for taking it! We appreciate you! </h1>
        <h1><%=@message%></h1>
        <br> <br>
        <h1> Your answers have been submitted us. Thanks again!</h1>
        <br>
        </center>
    </body>
</html>
